<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.liangyaofeng.dao.AdministratorsDao">

    <!--查询所有-->
    <select id="selectAllAdmin" resultType="com.liangyaofeng.entity.Administrators">
        select * from administrators
    </select>



    <!--登录-->
    <!--根据登录账号查询-->
    <select id="selectAllbyloginId" resultType="com.liangyaofeng.entity.Administrators">
        select Aid,LoginId,Password,Aname,Asex,jop,Aphone,Abirthday,Astate
        from administrators
        where LoginId=#{loginId}
    </select>

    <!--添加-->
    <insert id="addAdministrators">
        insert into administrators(Aid,LoginId,Password,Aname,Asex,jop,Aphone,Abirthday,Astate)
        values (#{Aid},#{LoginId},#{Password},#{Aname},#{Asex},#{jop},#{Aphone},#{Abirthday},#{Astate})
    </insert>


    <!--删除-->
    <delete id="deleteAdministrators">
        delete from administrators where LoginId=#{loginId}
    </delete>

    <!--修改-->
    <update id="updateAdministrators">
        update administrators
        <set>
            <if test="Password!=null and Password!=''">
                Password =#{Password},
            </if>
            <if test="Aname!=null and Aname!=''">
                Aname =#{Aname},
            </if>
            <if test="Asex!=null and Asex!=''">
                Asex =#{Asex},
            </if>
            <if test="jop!=null and jop!=''">
                jop =#{jop},
            </if>
            <if test="Aphone!=null and Aphone!=''">
                Aphone =#{Aphone},
            </if>
            <if test="Abirthday!=null and Abirthday!=''">
                Abirthday =#{Abirthday},
            </if>
            <if test="Astate!=null and Astate!=''">
                Astate =#{Astate},
            </if>
        </set>
    </update>


</mapper>