<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.liangyaofeng.dao.UsersDao">

    <!--组合查询-->
    <select id="selectAllUsersbytwo" resultType="com.liangyaofeng.entity.Users">
        select Uid,loginId,Password,Uname,Sex,Uphone,Balance,Ubirthday,Ustate
        from users
        <where>
            <if test="loginId!=null and loginId!=''">
                and loginId like concat(concat('%',#{loginId}),'%')
            </if>
            <if test="uname!=null and uname!=''">
                and Uname like concat(concat('%',#{uname}),'%')
            </if>
            <if test="sex!=null and sex!=''">
                and Sex like concat(concat('%',#{sex}),'%')
            </if>
            <if test="ustate!=null and ustate!=''">
                and Ustate like concat(concat('%',#{ustate}),'%')
            </if>
        </where>
    </select>


    <!--查询所有-->
    <select id="selectAllUsers" resultType="com.liangyaofeng.entity.Users">
        select Uid,loginId,Password,Uname,Sex,Uphone,Balance,Ubirthday,Ustate
        from users

    </select>


    <!--查询账号，根据loginId查询-->
    <!--登录验证-->
    <select id="selectUsersbyloginId" resultType="com.liangyaofeng.entity.Users">
        select Uid,loginId,Password,Uname,Sex,Uphone,Balance,Ubirthday,Ustate
        from users
        where loginId=#{loginId}
    </select>


    <!--添加-->
    <insert id="addUsers">
        insert into users(loginId,Password,Uname,Sex,Uphone,Balance,Ubirthday,Ustate)
        values(#{loginId},#{password},#{uname},#{sex},#{uphone},#{balance},#{ubirthday},#{ustate})
    </insert>


    <!--修改-->
    <update id="updateUsers">
        update users
        <set>
            <if test="password!=null and password!=''">
                password =#{password},
            </if>
            <if test="uname!=null and uname!=''">
                uname =#{uname},
            </if>
            <if test="sex!=null and sex!=''">
                sex =#{sex},
            </if>
            <if test="uphone!=null and uphone!=''">
                uphone =#{uphone},
            </if>
            <if test="balance!=null and balance!=''">
                balance =#{balance},
            </if>
            <if test="ubirthday!=null and ubirthday!=''">
                ubirthday =#{ubirthday},
            </if>
            <if test="ustate!=null and ustate!=''">
                ustate =#{ustate},
            </if>
        </set>
        where loginId=#{loginId}
    </update>

    <!--删除-->
    <delete id="deleteUsersbyloginId">
        delete from users where loginId=#{loginId}
    </delete>

    <!--多删除-->
    <delete id="deleteUsersbyList">
        delete from users where loginId in
        <foreach collection="list" open="(" item="loginId" separator="," close=")">
            #{loginId}
        </foreach>
    </delete>


</mapper>